<a href="/work/<%= article.slug %>" title="This article is called: <%= article.title %>" class="excerpt">
  <article>
    <h3><%= article.title %></h3>
    <p class="meta"><%= article.date %></p>
    <p class="tagline"><%= article.tagline %></p>
  </article>
</a>
